.auth-wrapper-ja {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.auth-inner-ja {
    width: 800px;
    height: 600px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 20px 55px 45px 20px;
    border-radius: 15px;
    transition: all 0.3s;
}
.data{
    color: #0d6efd;
}

.profile-work h4{
    font-size: 20px;
    color: #124265;
    font-weight: 700;
    
}

.profile-head h5{
    font-size: 30px;
    color:#124265 ;
    font-weight: 700;
    
}
.profile-head h6{
    color: #0d6efd;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0d6efd;
}

.profile-img {
    width: 200px;
    /* alto y ancho específico para que el círculo sea redondo */
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    /* oculta todo el contenido fuera de la caja */
    position: relative;
}

.profile-img img {
    position: absolute;
    width: 100%;
}

.profile-img .file {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    background: #212529b8;
    color: #fff;
    text-align: center;
    padding: 10px 0 25px;

}

.profile-img .file input {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    /* manita de selección al hacer hover */
}