

h1{
    
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Raleway", sans-serif;
    

}




label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

