.App {
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: white;
  background-image: radial-gradient(circle at 50% -20.71%, #faffff 0, #d8f0fa 25%, #b5def2 50%, #92cbeb 75%, #72b9e5 100%);
}

.alert{
  width: 100%;
}

h4{
  margin: 0;
    font-size: 56px;
    font-weight: 800;
    line-height: 72px;
    font-style: bold;
    color: #124265;
    font-family: "Poppins", sans-serif;
}




